.custom-select {
	position: relative;
	width: 100%;
	background: #eee;
	border-radius: 6px;
	transition: all 0.3s ease;
	cursor: pointer;
	min-width: fit-content;

	select {
		display: block;
		width: 100%;
		background-color: transparent;
		padding: 13px 40px 13px 16px;
		font-size: 15px;
		font-weight: 500;
		color: #333;
		appearance: none;
		border: none;
		border-radius: 6px;
		cursor: pointer;
		position: relative;
		z-index: 2;
		min-width: fit-content;

		&:focus {
			outline: none;
			box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2);
		}

		option {
			background: #eee;
			color: #333;
			padding: 12px;
			font-size: 15px;
			min-width: fit-content;
		}
	}

	&.active {
		.icon {
			transform: rotate(180deg);
		}
	}

	.icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 14px;
		color: #333;
		font-size: 18px;
		transition: transform 0.3s ease;
		pointer-events: none;
		transition: transform 0.2s ease-in-out;
		&.active {
			transform: translateY(-50%) rotate(180deg);
		}
	}
}
